@import '../styles/common.scss';

.section-header {
  background-color: #f6f6f7;
  .section {
    position: relative;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
  }
}
